<?xml version="1.0"?>
<!--
/**
 * PDP Group Sections
 *
 * @package CustomVendor_PDPGroupSections
 * @author Lorenzo Trevizani <lm.trevizani@gmail.com>
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Attributes">
        <plugin name="pdp_filter_attributes_from_product_specs_tab_plugin" type="CustomVendor\PDPGroupSections\Plugin\Block\Product\View\AttributesPlugin" />
    </type>
</config>
