<?xml version="1.0"?>
<!--
/**
 * Certification Stamps' Product Attribute
 *
 * @package CustomVendor_CertificationStamps
 * @author Lorenzo Trevizani <lm.trevizani@gmail.com>
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="certification_stamps" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Certification Stamps</label>
            <tab>Custom Vendor</tab>
            <resource>CustomVendor_CertificationStamps::settings</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>

                <field id="attribute_separator" translate="label, comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute Separator</label>
                    <comment>Define the separator char used for certification stamp swatch attribute. The char must be a varchar(255)</comment>
                    <config_path>custom_vendor_certification_stamps/general/attribute_separator</config_path>
                </field>

                <field id="enable_multi_row" translate="label, comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled multiple rows</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>custom_vendor_certification_stamps/general/enable_multi_row</config_path>
                </field>

                <field id="attribute_mapping_configuration" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Acceptance Attribute Mapping Configuration</label>
                    <frontend_model>CustomVendor\CertificationStamps\Block\Adminhtml\Form\Field\AttributeMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <config_path>custom_vendor_certification_stamps/general/attribute_mapping</config_path>
                    <comment>Acceptance value mapping for attribute value</comment>
                </field>
            </group>
        </section>
    </system>
</config>
